@import 'remixicon/fonts/remixicon.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
}
img{
  max-width: 100%;
  margin: 0 auto;
}
body, html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  overflow-x: hidden;
}

p{
  letter-spacing: 0.5px;
}

.image{
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.gradient{
  background: linear-gradient(to right, #050505 30%, #151515 80%, #1D2539 );
}

